html
  head
    title Chatwork | Homepage
    meta(meta='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/w3.css")
    link(rel="stylesheet" href="css/home.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway")
  body
    .bgimg.w3-display-container.w3-animate-opacity.w3-text-white
      .w3-display-middle
        h1.w3-jumbo.w3-animate-top Welcome
          hr.w3-border-grey(style='margin:auto;width:40%')
          p.w3-large.w3-center
            a(href='') Click here to join us!
